.container_search_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 60px 0px 60px;
}
.search_label {
  margin-right: 10px;
}
.search_input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn_addcar {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #5b6ebb;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.btn_addcar:hover,
.btn_addcar:focus {
  background-color: #314cb8;
}
